<div class="container mt-3">
<% if @user.errors.any? %>
    <div class="error_explantion mb-2">
        <h2><%= @user.errors.count %>件のerrorが発生しました。</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<h2>User info</h2>
<%= form_for(@user) do |f| %>
    <div class="form-group">
        <%= f.label :name, 'name' %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :introduction, "introduction" %>
        <%= f.text_area :introduction, class: 'form-control'%>
    </div>
    <div class="form-group">
        <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.png", size:'100x100' %>
        <%= f.label :profile_image, "ProfileImage" %>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像",class: 'form-control'%>
    </div>
    <%= f.submit "Update User", class: 'btn btn-info btn-block', disable_with: 'Editing...' %>
    </div>
<% end %>
</div>